 body{
     background-color: wheat;
 }
 #optionList {
    height: 400px;
    width :100%;
    text-align: center;

}

#optionList h4 {
    height: 50px;
    width: 100%;
    background: white;
    line-height: 50px;
    margin: 25px 0;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 20px;
    color: black;
    overflow: hidden;
    border: 1px solid #b0c4d8;
    cursor: pointer;

}

#optionList h4:hover {
    background: #2FC7F5;
}

#optionList .active {
    background: #2FC7F5;
}

#optionList .disabled {
    pointer-events: none;
}


.red{
    background : red !important;
}

.green {
    background: green !important;
}
.img{
    width: 25em;
    height: 25em;
    border-radius: 10px;
    margin-top: 20px;
}


#next-btn{
    margin-top: 10px;

}

#total_correct{
    text-align: center;
}

#end{
    background-color: white;
    text-align: center;
    margin: 30px;
    font-size: 3em;
}

#end-img{
    display: none;
    text-align: center;
    height: 100vh;
}


